body{
    background-color: #7C1727;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

p{
    
}

.slider{
    height:400px;
}

.row {
      position: relative;
  }

.logo{
    height: auto;
    width: auto;
    padding-top: 30px
}

.bottom-align-text {
    position: absolute;
    bottom: 0;
    right: 0;
  }

.foot{
    background-color: #2C3E50;
}